.admin-page{
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  font-family: "Black Ops One", system-ui;
}



.admin-page .sidebar{
  width: 15%;
  height: 100vh; 
  position: fixed; 
  top: 10%;
  left: 0;
  background-color:transparent;
  padding-top: 20px;
  color: white;
  overflow-y: auto;
}

.admin-page .sidebar ul{
  list-style-type: none;
  padding: 0;
}

.admin-page .sidebar  ul li {
  padding: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.admin-page .sidebar li:hover {
  background-color: #1d31e4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
} */

.admin-page .sidebar ul li .svg-inline--fa {
  margin-right: 10px; 
  color: white; 
}