@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');


.paymentpagemain{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Chakra Petch", sans-serif;
}

.paymentpagemain h1{
    color: whitesmoke;
    font-weight: 0;
}

.paymentpagebody{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
